body {
  font-family: Arial, sans-serif;
  background-image: url("background.jpg");
  color: white;
}

label {
  display: block;
  text-align: center;
  margin-top: 0.2%;
}

input {
  width: 100%;
}

#radio1,
#radio2,
input[type="radio"] {
  width: unset;
  text-align: unset;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  border: solid;
  border-color: brown;
  margin: auto 20%;
}
